[run]
omit =
    */tests/*
    */test_*.py
    */migrations/*
    manage.py
    */config/*
    */__init__.py
    */admin.py

[report]
fail_under = 95
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

